.featured-job-item {
  padding: 30px;
  transition: all 500ms;
}

.featured-job-item:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.featured-job-icon {
  height: 17px;
  width: 17px;
}

.job-type-box {
  font-size: 16px;
  line-height: 22px;
  padding: 5px 8px;
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid rgba(126, 144, 254, 1);
  border-radius: 4px;
}
