.job-list-item {
  background: linear-gradient(
    90deg,
    rgba(126, 143, 254, 0.11) 0%,
    rgba(152, 115, 255, 0.164) 100%
  );
  border-radius: 8px;
  padding: 40px;
  transition: all 500ms;
}
.job-list-item:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.job-icon {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.1) 0%,
    rgba(152, 115, 255, 0.1) 100%
  );
  border-radius: 8px;
  display: inline-block;
  padding: 12px;
}
